@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Spoqa Han Sans Neo';
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, input, button {
    margin: 0;
    padding: 0;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

img{
    vertical-align: top;
}

button{
    border: 0;
    background: none;
}

.wrapper{
    width: 520px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    position: relative;
}

/* header */

header {
    padding: 22px 0 18px;
    text-align: center;
    border-bottom: 1px solid #C4C4C4;
}

h1 {
    font-size: 16px;
    font-weight: 500;
}

.close{
    position: absolute;
    right: 18px;
    top: 18px;
    width: 30px;
    height: 30px;
}

main{
    padding : 26px 24px 25px;
}

section{
    display: flex;
    flex-direction: column;
}

/* h2 */

h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 24px;
}

/* input */

#id, #pw {
    box-sizing: border-box;
    padding: 15px 0 15px 16px;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
#id {
    margin-bottom: 10px;
}

/* check */

.check {
    margin-top: 16px;
    margin-bottom: 20px;
}

.check label{
    font-weight: 500;
    font-size: 16px;
    color: #767676;
}


.check input{
    width: 22px;
    height: 22px;
    appearance: none;
    vertical-align: middle;
    background: url(./img/check-box.png) no-repeat center / 90%;
}

.check input:checked{
    background-image: url(./img/checked.svg);
}

/* 로그인 버튼 */

.login-btn {
    margin-bottom: 20px;
    background: #2F80ED;
    border-radius: 5px;
    padding : 14px 211px;

    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;

    opacity: 0.9;
}

.login-btn:hover{
    box-shadow: 0 0 2px #767676;
    opacity: 1;
}

.login-btn:active{
    box-shadow: none;
}

/* sub btn */

.sub {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color : #767676;
}

.sub span{
    margin-left: 12px;
    margin-right: 12px;
}

.sub button{
    font-size: inherit;
    color: currentColor;
}

.sub button:hover{
    color: black;
}

.sub button:active {
    color: #767676;
}

/* 또는 */

.or {
    display: flex;
    align-items: center;

    margin-top: 31px;
    margin-bottom: 19px;
}
.or .text{
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    margin: 0 13px;
    color: #767676;
}
.or .hr{
    width: 100%;
    border-top: 1px solid #C4C4C4;
    margin-bottom: 2px;
}

/* domain */

.domain{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.domain button{
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #767676;

    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.google{
    background-image: url(img/Google__G__Logo\ 1.png);
    border: 1px solid #767676;
}
.facebook{
    background-image: url(img/facebook.png);
    border: 1px solid #2D9CDB;
}
.naver{
    background-image: url(img/naver-logo.png);
    border: 1px solid #00BF18;
}
.kakao{
    background-image: url(img/message-circle.png);
    border: 1px solid #F2C94C;
}

.domain button:hover{
    color: black;
}

.domain button:active{
    color: #767676;
}